
@{
    ViewBag.Title = "Confirm";
}

<h2>@ViewBag.ConfirmMessage</h2>

@*This page will not work.
    I don't know why
    I keep coding forever.
    Some people don't understand
    On top of this I will never understand
    Last Nite! 
    It said, Oh baby I will never go
    to the Confirm page....
    Sorry...Was listening to The Strokes*@

